$textGray: #595959;
$white: #ffffff;
$granate: #c5165b;

.font-color {
    color: $textGray;
}

.text-size {
    font-size: 20px;
}

hr {
    width: 100px;
    height: 5px;
    border-radius: 8px;
    background-color: $textGray;
    margin: auto;
}

.input-radio {
    padding: 30px 10px;
}

.btn-simular {
    margin: 20px;
    width: 100px;
    padding: 10px;
    background-color: $granate;
    outline: none;
    border: none;
    border-radius: 3px;
    color: $white;
}

.label-input {
    width: 100%;
    display: flex;
    margin: 10px;
    align-items: center;

    label{
        width: 40%;
    }

    input {
        width: 60%;
        padding: 10px;
        border: 1px solid $textGray;
        border-radius: 3px;
    }
}