.padding-section {
    padding: 30px;
}
.width-100 {
    width: 360px;
    height: 2px;
}
.d-column-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.d-row-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-cards {
    width: 360px;
    padding: 20px;
}

.select-order {
    width: 300px;
    padding: 10px;
    border: 1px solid #595959;
    border-radius: 3px;
    margin: 10px 20px 0;
}

.align {
    width: 360px;
    margin: auto;
}

.span-text {
    margin-top: 10px;
    color: #595959;
    text-align: center;
}

.img-steps {
    margin: 10px 30px 0;
}

@media (min-width:768px) {
    .container-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .card {
        margin: 10px;
    }

}

